
/* sis */

#sis_header {
  background-color: #3b5998;
  color: white;
  padding: 10px;
  overflow: auto;
}

.sis_logo {
  float: left;
  margin-left: 80px;
}

.sis_logo img {
  height: 55px;
}

.sis_header_content {
  float: left;
  width: 400px;
  margin-top: 10px;
}

.sis_header_title a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.sis_header_slogan {
  font-size: 14px;
}


.sis_profile_links a {
  text-decoration: none; 
}

.sis_profile {
  overflow: auto; 
  margin-top: 20px;
}




.sis_profile_picture {
  float: left; 
  margin-right: 5px;
}

.sis_profile_name{
  color: #3b5998;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
} 

.sis_profile_edit {
  color: #3b5998;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
}

.task {
  color: #999;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;

}

.sidebar-left {
  display: flex;
  flex-direction: column;
}

.sidebar-left a {
  display: block; 
  padding: 5px; 
  text-decoration: none; 
  color: #333; 
}

.grades-title {
  color: #3b5998;
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.main-title {
  color: #3b5998;
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    
}

/* list */


.header-section {
  font-family: Arial, sans-serif; 
  border: 1px solid #000000; 
  padding: 20px; /* This adds space inside the border. Adjust the value as needed */
  margin: 20px; /* This adds space outside the border. Adjust the value as needed */
  background-color: #f9f9f9; 
  
}
.header-

.grade-guidelines {
  margin-top: 20px;
  font-size:larger;
  font-weight: 100;
}

.grade-guidelines li {
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

select, input[type="text"] {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  padding: 2px;
  height: 25px;
  width: auto;
}

select {
  cursor: pointer;
}

/* grades */


#sis_header {
  background-color: #3b5998;
  color: white;
  padding: 10px;
  overflow: auto;
}

.sis_logo {
  float: left;
  margin-left: 80px;
}

.sis_logo img {
  height: 55px;
}

.sis_header_content {
  float: left;
  width: 400px;
  margin-top: 10px;
}

.sis_header_title a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.sis_header_slogan {
  font-size: 14px;
}


.sis_profile_links a {
  text-decoration: none; 
}

.sis_profile {
  overflow: auto; 
  margin-top: 20px;
}




.sis_profile_picture {
  float: left; 
  margin-right: 5px;
}

.sis_profile_name{
  color: #3b5998;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
} 

.sis_profile_edit {
  color: #3b5998;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
}

.task {
  color: #999;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;

}

.grades-title {
  color: #3b5998;
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  

}
